---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">
          <div class="runningList">
            <!-- <div class=runningWeeks>
              <p>1<span>주차</span></p>
            </div> -->
            <div class="runningWeeks-info">
              <ul>
                <li>
                  <div class="runningWeeks">
                    <p>스파익스<span>2017~</span></p>
                  </div>
                  <p>ㅁㅎ</p>
                  <p>프로그래밍 언어 활용</p>
                  <p>애플리케이션 구현</p>
                </li>
                <li>
                  <div class="runningWeeks">
                    <p>2<span>주차</span></p>
                  </div>
                  <p>데이터 입출혁 구현</p>
                  <p>프로그래밍 언어 활용 프로그래밍 언어 활용</p>
                  <p>서버프로그램 구현</p>
                </li>
                <li>
                  <div class="runningWeeks">
                    <p>3<span>주차</span></p>
                  </div>
                  <p>응용 SW 기초 기술활용</p>
                  <p>프로그래밍 언어 활용</p>
                </li>
                <li>
                  <div class="runningWeeks">
                    <p>4<span>주차</span></p>
                  </div>
                  <p>응용 SW 기초 기술활용</p>
                  <p>프로그래밍 언어 활용</p>
                  <p>애플리케이션 구현</p>
                </li>
                <li>
                  <div class="runningWeeks">
                    <p>5<span>주차</span></p>
                  </div>
                  <p>데이터 입출혁 구현</p>
                  <p>프로그래밍 언어 활용 프로그래밍 언어 활용</p>
                  <p>서버프로그램 구현</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- {{ content }} -->

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
