---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">
          <div class="aboutWarp">
            <div class="about-info">
              <ul>
                <li>
                  <div class="company-name">
                    <p>스파익스<br/>기술연구소</p>
                    <span>기술연구소ㆍ연구원</span>
                    <span>2018.03 ~ 2018. 09</span>
                  </div>
                  <p>천재교육 티셀파 초등학교 1학기 과학 3, 4학년 전자교과서 <span>2018.03 ~ 2018. 05</span></p>
                  <p>스파익스 홈페이지 <span>2018.05 ~ 2018.06</span></p>
                  <p>Soft Carrot(소프트캐럿) admin페이지 <span>2018.06 ~ 2018.06</span></p>
                  <p>천재교육 티셀파 초등학교 2학기 과학 3, 4학년 전자교과서 <span>2018.06 ~ 2018.09</span></p>
                  <p>미래엔 고등학교 화학II, 지구과학II 전자교과서<span>2018.07 ~ 2019.09</span></p>
                </li>
                <li>
                  <div class="company-name">
                    <p>더하이컴퍼니</p>
                    <span>WA사업부ㆍ인턴</span>
                    <span>2018.11 ~ 2018.11</span>
                  </div>
                  <p>천재교육 티셀파 초등학교 1학기 과학 3, 4학년 전자교과서 <span>2018.03 ~ 2018. 05</span></p>
                </li>
                <li>
                  <div class="company-name">
                    <p>소프트잼</p>
                    <span>솔루션사업부ㆍ사원</span>
                    <span>2018.12 ~ 2020.02</span>
                  </div>
                  <p>크린팩토메이션 근태관리시스템 모바일 앱 <span>2018.12 ~ 2019.01</span></p>
                  <p>가톨릭상지대학교 모바일 앱<span> 2018.12 ~ 2019.02</span></p>
                  <p>세종대학교 모바일 앱 개발<span> 2019.03 ~ 2019.07</span></p>
                  <p>서울과학기술대학교 모바일 앱 메인 리뉴얼<span> 2019.06 ~ 2019.06</span></p>
                  <p>현대앨리베이터 모바일 앱<span>  2019.07 ~ 2019.08</span></p>
                  <p>동원 홈 푸드 영업활동일지 모바일 앱<span> 2019.09 ~ 2019.11</span></p>
                  <p>동원 홈 푸드 영업활동일지 PC 유지보수<span> 2019.09 ~ 2019.11</span></p>
                  <p>포항대학교 모바일 앱 메인 신규페이지 추가<span> 2019.10 ~ 2019.11</span></p>
                  <p>한국체육대학교 모바일 앱 및 전자출결<span> 2019.10 ~ 2019.12</span></p>
                  <p>동원 로엑시 관제시스템 _뉴엔콜트럭<span> 2019.12 ~ 2020.01</span></p>
                  <p>세명대학교 모바일 앱 및 통학버스<span>2020.01 ~ 2020.02</span></p>
                  <p>경남정보대 모바일 앱<span>2020.01 ~ 2020.02</span></p>
                </li>
              </ul>
            </div>
          </div>
          <!-- {{ content }} -->

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
