---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">
          <div class="aboutWarp">
            <div class="about-info">
              <ul>
                <li>
                  <div class="company-name">
                    <p>스파익스<br/>기술연구소</p>
                    <span>기술연구소ㆍ연구원</span>
                    <span>2018.03 ~ 2018. 09</span>
                  </div>
                  <p><span class="project_date">2018.03 ~ 2018. 05</span>천재교육 티셀파 초등학교 1학기 과학 3, 4학년 전자교과서</p>
                  <p><span class="project_date">2018.05 ~ 2018.06</span>스파익스 홈페이지</p>
                  <p><span class="project_date">2018.06 ~ 2018.06</span>Soft Carrot(소프트캐럿) admin페이지</p>
                  <p><span class="project_date">2018.06 ~ 2018.09</span>천재교육 티셀파 초등학교 2학기 과학 3, 4학년 전자교과서</p>
                  <p><span class="project_date">2018.07 ~ 2019.09</span>미래엔 고등학교 화학II, 지구과학II 전자교과서</p>
                </li>
                <li>
                  <div class="company-name">
                    <p>더하이컴퍼니</p>
                    <span>WA사업부ㆍ인턴</span>
                    <span>2018.11 ~ 2018.11</span>
                  </div>
                  <p><span class="project_date">2018.11 ~ 2018.11</span>라엘마음병원 홈페이지</p>
                  <p><span class="project_date">2018.11 ~ 2018.11</span>맛깔참죽 유지보수</p>
                  <p><span class="project_date">2018.11 ~ 2018.11</span>밝은눈안과 잠실롯데점 홈페이지</p>
                </li>
                <li>
                  <div class="company-name">
                    <p>소프트잼</p>
                    <span>솔루션사업부ㆍ사원</span>
                    <span>2018.12 ~ 2020.02</span>
                  </div>
                  <p><span class="project_date">2018.12 ~ 2019.01</span>크린팩토메이션 근태관리시스템 모바일 앱</p>
                  <p><span class="project_date">2018.12 ~ 2019.02</span>가톨릭상지대학교 모바일 앱</p>
                  <p><span class="project_date">2019.03 ~ 2019.07</span>세종대학교 모바일 앱</p>
                  <p><span class="project_date">2019.06 ~ 2019.06</span>서울과학기술대학교 모바일 앱 메인 리뉴얼</p>
                  <p><span class="project_date">2019.07 ~ 2019.08</span>현대앨리베이터 모바일 앱</p>
                  <p><span class="project_date"> 2019.09 ~ 2019.11</span>동원 홈 푸드 영업활동일지 모바일 앱</p>
                  <p><span class="project_date"> 2019.09 ~ 2019.11</span>동원 홈 푸드 영업활동일지 PC 유지보수</p>
                  <p><span class="project_date"> 2019.10 ~ 2019.11</span>포항대학교 모바일 앱 메인 신규페이지 추가</p>
                  <p><span class="project_date"> 2019.10 ~ 2019.12</span>한국체육대학교 모바일 앱 및 전자출결</p>
                  <p><span class="project_date"> 2019.12 ~ 2020.01</span>동원 로엑시 관제시스템 _뉴엔콜트럭</p>
                  <p><span class="project_date">2020.01 ~ 2020.02</span>세명대학교 모바일 앱 및 통학버스</p>
                  <p><span class="project_date">2020.01 ~ 2020.02</span>경남정보대 모바일 앱</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- {{ content }} -->

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
